@import "./vars";

// DON'T CONFUSE BREAKPOINTS WITH PROJECT TYPES!

.projectModule{

    // general settings for projectModules
    height: 400px;
    display: grid; // grid templates are set separately for Mobile and Desktop projects
    position: relative;
    z-index: $layer-0;
    transition: $transition-1;
    margin-bottom: calc(2*#{$space-10});

    // first project on the site
    &:first-of-type{
        margin-top: $space-2;
    }

    // projects in phone mockup (not a breakpoint!)
    &.mobile{
        
        // mobile viewing
        margin-bottom: $space-large-4;
        grid-template-rows: 2fr 1fr;

        // small desktop viewing
        @media screen and (min-width: 1000px){

            margin-bottom: $space-large-1;
            padding: 0px $space-large-2;

            grid-template-rows: unset;
            grid-template-columns: 1fr 1fr;

            // hovers should only work on screens 1000px +
            &:hover{
                background-color: $color-main-2;

                // imageModule's status when its parent project is hovered over
                .imageModule{
                    padding: 0;
                }
            } // end of :hover
        } // end of @media

        @media screen and (min-width: 1200px){
            padding: 0px $space-large-7;
            grid-template-columns: 1fr 1fr;
        }
    } // end of .mobile


    // projects in laptop mockup (not a breakpoint!)
    &.desktop{

        grid-template-rows: 1fr 1fr;

        // desktop viewing
        @media screen and (min-width: 1000px){

            padding: 0px $space-large-1;

            grid-template-rows: unset;
            grid-template-columns: 3fr 2fr;

            // hovers should only work on screens 1000px +
            &:hover{
                background-color: $color-main-2;
        
                .imageModule{
                    padding: $space-1;
                }
            }  // end of :hover
        } // end of @media

        @media screen and (min-width: 1200px){
            padding: 0px $space-large-5;
        }
    } // end of .desktop
}

.imageModule{
    
    border: $border-debug-1;
    transition: $transition-1;
    
    &.mobile{

        padding: $space-1;

        img {
            max-height: 100%;
        }
    }

    &.desktop{

        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $space-2;
        margin-bottom: $space-2;

        @media screen and (min-width: 1000px){

        margin-bottom: 0px;

        }
        
        img {
            
            max-width: 100%;

        }
    }

    img{
        transition: $transition-1;
        display: block;
        margin: auto;
    }
}

.textModule{

    border: $border-debug-1;

    position: relative;
    transition: $transition-1;
    padding: 0 $space-3;

    // small screen:
    text-align: center;

    @media screen and (min-width: 576px){
    
    }

    @media screen and (min-width: 1000px){
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .projectTitle{
        transition: $transition-1;
        font-family: $font-stack-1;
        font-size: $space-4;
        margin-bottom: $space-2;
    }

    .projectDescription{
        font-family: $font-stack-2;
        font-size: $space-2;
        // on desktop, this will be width:300px;
    }
}

.btn{

    transition: $transition-1;
    display: block;
    background-color: $color-main;
    width: 150px;
    
    margin:auto;
    margin-top: $space-3;

    @media screen and (min-width: 1000px){
        margin:unset;
        margin-top: $space-3; // you need two of this for some reason
    }

    padding: $space-1;
    border-radius: $space-3;
    cursor: pointer;
    text-decoration: none;

    .btn-label{
        color: white;
        font-family: $font-stack-1;
        width: 100%;
        text-align: center;

    }

    &:hover{
        background-color: darkblue;
    }

}