@import "./vars";

// DON'T CONFUSE BREAKPOINTS WITH PROJECT TYPES!

.projectModule{

    height: 400px;
    display: grid; // grid templates are set separately for Mobile and Desktop projects
    position: relative;
    z-index: $layer-0;
    transition: $transition-1;
    margin-bottom: calc(2*#{$space-10});

    @media screen and (min-width: 1200px){
        padding: 0px calc(5*#{$space-10});
    }
    
    &:first-of-type{
        margin-top: calc(1*#{$space-10});
    }

    // not a breakpoint - projects displaying on phone
    &.mobile{
        margin-bottom: calc(5*#{$space-10});
        grid-template-rows: 2fr 1fr;

        @media screen and (min-width: 1000px){
            // hovers should only work on screens 1000px +
            &:hover{
                background-color: $color-main-2;
        
                .imageModule{
                    padding: 0;
                }
            }
        }

        
    }
    // not a breakpoint - projects displaying on laptop
    &.desktop{
        grid-template-rows: 1fr 1fr;

        @media screen and (min-width: 1200px){
            // hovers should only work on screens 1000px +
            &:hover{
                background-color: $color-main-2;
        
                .imageModule{
                    padding: $space-1;
                }
            }
        }
    }
}


.imageModule{
    
    // border: 2px solid lightcoral;
    
    transition: $transition-1;
    
    &.mobile{
        padding: $space-1;
        height: 100%;

        img {
            max-height: 100%;
        }
    }

    &.desktop{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;

        max-height: 100%;
        padding: $space-2;
        // margin-top: $space-1;
        // a bit of top margin to make up for the fact the image is only 88% height;
        
        img {
            // it must stay at reduced % to prevent the expanding image from moving the text around;
            // max-width: 100%;
            max-width:100%;
            max-height: 100%;
            // margin-top: $space-1;
            
        }
    }

    img{
        transition: $transition-1;
        display: block;
        margin: auto;
    }
}

.textModule{

    position: relative;
    transition: $transition-1;
    padding: 0 $space-3;

    // small screen:
    text-align: center;

    .projectTitle{
        transition: $transition-1;
        font-family: $font-stack-1;
        font-size: $space-4;
        margin-bottom: $space-2;
    }

    .projectDescription{
        font-family: $font-stack-2;
        font-size: $space-2;
        // on desktop, this will be width:300px;
    }
}

.btn{

    transition: $transition-1;
    display: block;
    background-color: $color-main;
    width: 150px;
    // margin:auto is only necessary on small screens - remember to unset later
    margin:auto;
    margin-top: $space-3;
    padding: $space-1;
    border-radius: $space-3;
    cursor: pointer;
    text-decoration: none;

    .btn-label{
        color: white;
        font-family: $font-stack-1;
        width: 100%;
        text-align: center;

    }

    &:hover{
        background-color: darkblue;
    }

}