* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.boxMain {
  background-color: white;
}

.vCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#navBar {
  position: relative;
  width: 100vw;
  height: 66px;
  background-color: white;
  border-bottom: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#textLogo {
  font-family: rigid-square, sans-serif;
  font-size: 18px;
  line-height: 20px;
  height: 100%;
  color: blue;
}
#textLogo span {
  display: block;
  font-weight: 400;
}

.imgLogo {
  width: 70px;
  height: 70px;
  padding: 10px;
}
.imgLogo img {
  width: 100%;
  height: 100%;
}

.navButtonDesktop {
  text-align: center;
  width: 12%;
  font-family: roboto, sans-serif;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s all;
  display: none;
}

.navButtonDesktop:hover {
  /* font-weight: 800; */
  background-color: ghostwhite;
}

#btnBurger, #btnReturn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66px;
  height: 66px;
  font-size: 36px;
  font-weight: 100;
  font-family: Rigid-square, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  color: blue;
}
#btnBurger span, #btnReturn span {
  text-align: center;
  padding-bottom: 4px;
}

#btnReturn {
  top: unset;
  bottom: 0;
  text-decoration: none;
}
#btnReturn span {
  padding-bottom: 0px;
  padding-top: 24px;
}

#mobileMenu {
  background-color: blue;
  font-family: Rigid-square, sans-serif;
  font-size: 24px;
  z-index: 100;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.3s all;
}
#mobileMenu .buttonExit {
  color: white;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
}
#mobileMenu .buttonExit span {
  text-align: center;
  font-weight: 200;
}
#mobileMenu .navButtonMobile {
  width: 100%;
  text-align: center;
  height: 15%;
}
#mobileMenu .navButtonMobile span {
  color: white;
  font-weight: 300;
}

.ml30 {
  margin-left: 30px;
}

.projectModule {
  height: 400px;
  display: grid;
  position: relative;
  z-index: 0;
  transition: 0.1s all linear;
  margin-bottom: calc(2*66px);
}
@media screen and (min-width: 1200px) {
  .projectModule {
    padding: 0px calc(5*66px);
  }
}
.projectModule:first-of-type {
  margin-top: calc(1*66px);
}
.projectModule.mobile {
  margin-bottom: calc(5*66px);
  grid-template-rows: 2fr 1fr;
}
@media screen and (min-width: 1000px) {
  .projectModule.mobile:hover {
    background-color: #f5f5ff;
  }
  .projectModule.mobile:hover .imageModule {
    padding: 0;
  }
}
.projectModule.desktop {
  grid-template-rows: 1fr 1fr;
}
@media screen and (min-width: 1200px) {
  .projectModule.desktop:hover {
    background-color: #f5f5ff;
  }
  .projectModule.desktop:hover .imageModule {
    padding: 12px;
  }
}

.imageModule {
  transition: 0.1s all linear;
}
.imageModule.mobile {
  padding: 12px;
  height: 100%;
}
.imageModule.mobile img {
  max-height: 100%;
}
.imageModule.desktop {
  max-height: 100%;
  padding: 18px;
}
.imageModule.desktop img {
  max-width: 100%;
  max-height: 100%;
}
.imageModule img {
  transition: 0.1s all linear;
  display: block;
  margin: auto;
}

.textModule {
  position: relative;
  transition: 0.1s all linear;
  padding: 0 24px;
  text-align: center;
}
.textModule .projectTitle {
  transition: 0.1s all linear;
  font-family: Rigid-square, sans-serif;
  font-size: 30px;
  margin-bottom: 18px;
}
.textModule .projectDescription {
  font-family: source-serif-pro, sans-serif;
  font-size: 18px;
}

.btn {
  transition: 0.1s all linear;
  display: block;
  background-color: blue;
  width: 150px;
  margin: auto;
  margin-top: 24px;
  padding: 12px;
  border-radius: 24px;
  cursor: pointer;
  text-decoration: none;
}
.btn .btn-label {
  color: white;
  font-family: Rigid-square, sans-serif;
  width: 100%;
  text-align: center;
}
.btn:hover {
  background-color: darkblue;
}

/*# sourceMappingURL=main.css.map */
